version: '2'
services:
    aya_front:
      image: nginx
      ports:
        - "80:80"
      links:
        - aya_app
      volumes:
        - "./www:/var/www"
        - "./.docker/config/nginx/vhost/sf4_vhost:/etc/nginx/conf.d/030-sf4.conf:ro"

    aya_app:
      build: .
      links:
        - aya_mariadb
        - aya_elasticsearch
      volumes:
        - "./.docker/config/php/php.ini:/usr/local/etc/php/conf.d/030-custom.ini:ro"
        - "./www:/var/www"
      ports:
        - "9000:9000"
      environment:
        - APP_ENV=dev
        - APP_DEBUG=1
        - APP_SECRET=83512d52ee8797e6e9de2322dc781885
        - DATABASE_HOST=aya_mariadb
        - DATABASE_USER=appuser
        - DATABASE_PASSWORD=userPass
        - DATABASE_NAME=sf4
        - DATABASE_PORT=3306
      working_dir: "/var/www"

    aya_mariadb:
      image: mariadb
      command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
      environment:
        - "MYSQL_ROOT_PASSWORD=rootPass"
        - "MYSQL_USER=appuser"
        - "MYSQL_PASSWORD=userPass"
        - "MYSQL_DATABASE=app"
      ports:
        - "3306:3306"

    aya_elasticsearch:
      image: elasticsearch
      ports:
        - "9200:9200"